[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
# Step 1 and Step 2 details are here..
# ------------------------------------
ExecStart=/home/ubuntu/src/anaconda3/bin/jupyter-notebook
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu
Restart=always
RestartSec=10
ExecStartPre=source /home/ubuntu/src/anaconda3/bin/activate fastai
#KillMode=mixed

[Install]
WantedBy=multi-user.target
